= stylesheet_link_tag('users')
=javascript_include_tag('users.js')
.profileBox
  %loader.ajax-loader
  .image
    - if @user.avatar_image_id.blank?
      = image_tag 'fallback/user_avatar_medium.png', size: "200x200", id: "user_photo"
    - else
      = cl_image_tag @user.avatar_image_id, size: "200x200", id: "user_photo"

  = render 'image_form'


  .info
    %h1
      = @user.name
    %h2
      = @user.username
    %h2
      = @user.location.to_s if @user.location